<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Examen 1</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="css/estilo.css">
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-3">
                    <h1>Examen 1</h1>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-7">
                    <img src="images/rocket_league_coverart.jpeg" alt="Rocket League" class="img-fluid">
                    <p class="text-break">Rocket League es un videojuego que combina el fútbol con los vehículos. Fue desarrollado por Psyonix y lanzado el 7 de julio de 2015. Fue lanzado Free to play en septiembre de 2020. Se encuentra disponible en español, y tiene modos de juego cooperativo de un jugador y en línea.

                    Es la secuela de Supersonic Acrobatic Rocket-Powered Battle-Cars, juego lanzado para PlayStation 3 en 2008. Durante la fase de desarrollo, Rocket League llevaba como nombre tentativo Battle Cars 2.
                    </p>
                    <p class="text-muted">
                        Info sacada de <a href="https://es.wikipedia.org/wiki/Rocket_League">Wikipedia</a>.
                    </p>
                </div>
                <div class="col-4">
                    <div class="container">
                        <li><a href="https://www.epicgames.com/store/es-ES/product/rocket-league/home" target="_blank">Comprar en Epic Games</a></li>
                        <li><a href="https://store.steampowered.com/app/252950/Rocket_League/" target="_blank">Comprar en Steam</a></li>
                        <li><a href="https://www.nintendo.com/games/detail/rocket-league-switch/" target="_blank">Comprar en Nintendo Store</a></li>
                    </div>
                </div>
              </div>
        </div>
    </body>
</html>